<div class="container">
<table>
<div class="btn-container">
    <%= link_to 'Add Food', new_food_path, class: "btn" %>
    <%= link_to 'Shooping list', request.params %>
</div>
  <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %> gram </td>
        <td><%= food.price %></td>
        <td><%= button_to "Delete", food_path(food), method: :delete %></td>
    </tr>
  <% end %>
</table>
</div>