<div class="container">
  <div class="form-section">
    <h2 class="form-title">Add food</h2>
    <div>
      <%= form_with model: @food, url: food_index_path, local: true do |form| %>
        <div>
          <%= form.label :name %>
          <%= form.text_field :name, required: true, placeholder: 'Enter the food name'  %>
        </div>
        <div>
          <%= form.label :measurement_unit %>
          <%= form.text_field :measurement_unit, required: true, placeholder: 'Enter measurement unit' %>
        </div>
        <div>
          <%= form.label :price %>
          <%= form.number_field :price, required: true, placeholder: 'price' %>
        </div>
        <div>
          <%= form.submit 'Submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
