<h1>Add food form here </h1>
<main>
  <h2>Add food</h2>
  <div>
    <%= form_with(model: @food, url: '/food') do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
      <%= form.label :measurement_unit %>
      <%= form.text_field :measurement_unit, required: true %>
      <%= form.label :price %>
      <%= form.number_field :price, required: true %>
      <%= form.submit 'Submit' %>
    <% end %>
  </div>
</main>
