<h1><%= @recipe.name %></h1>

<p>Preparation time: <%= @recipe.preparation_time %></p>
<p>Cooking time: <%= @recipe.cooking_time %></p>
<p><%= @recipe.description %></p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Generate Shopping List
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Shopping list</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Choose an inventory to use</p>
        <%= form_tag( method: :get) do %>
          <%= hidden_field_tag :recipe_id, @recipe.id %>
          <%= select_tag(:inventory_id, options_for_select(@inventories.map { |inv| [inv.name, inv.id] })) %>
          <%= submit_tag('Generate Shopping List') %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe) %>

<div>
  <%= form_with model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch, local: true do |form| %>
    <div class="field">
      <%= form.hidden_field :public, class: 'toggle-switch', data: { 'turbo-frame': 'recipe-details' } %>
    </div>
    <div class="actions">
      <%= form.submit 'Toggle Public' %>
    </div>
  <% end %>
  <p>Public:<%= @recipe.public ? 'Yes' : 'No' %></p>
</div>

<div>
  <% @recipe.recipe_foods.each do |recipe_food| %>
    <div>
      <span><%= recipe_food.food.name %></span>
      <span><%= recipe_food.quantity %></span>
      <span><%= recipe_food.quantity * recipe_food.food.price %></span>
      <span>
        <%= link_to 'Modify', edit_recipe_recipe_food_path(recipe_food.food, recipe_food) %>
        <%= button_to 'Remove', recipe_recipe_food_path(recipe_food.food, recipe_food), method: :delete %>
      </span>
    </div>
  <% end %>
</div>