<%= form_with model: @recipe_food, url: recipe_recipe_food_path(@recipe_food.recipe, @recipe_food), local: true do |form| %>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :food_id %>
    <%= form.collection_select :food_id, Food.all, :id, :name %>
  </div>

  <div>
    <%= form.submit 'Update recipe food' %>
  </div>

<% end %>